<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .divEachProduct {
        width: 10%;
        margin: 0 auto;
        padding: 5px;
        border: red solid 2px;
    }

    .imageEachProduct {
        margin: 0 auto;

        border: black solid 2px;
    }

    .divMenu{
        margin: 0 auto;
        float: bottom;
    }
    .divEachProduct{
        float: left;
    }

</style>
<body>
<!--<img src="anh/sky.png"/>-->
<h1>Products</h1>
<p>
    <a href="/home">Back Homepage</a>
</p>
<div class="divMenu" th:each="product : ${products}">

    <div class="divEachProduct">
        <div class="imageEachProduct" >
            <img style="width: 100%" th:src="@{'/anh/' + ${product.image}}">
        </div>
        <div style="text-align: center;">
          <a th:href="@{https://www.google.com}"><p  th:text="${product.product_name}"/></a>
            <p th:text="${product.new_price}"/>
        </div>
    </div>

</div>
</body>
</html>